@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #151c2c;
  --bg-soft: #182237;
  --text: white;
  --textSoft: #b7bac1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: var(--bg);
  color: var(--text);
}

.nav{
  position: fixed;
  top: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
